@model FinanceSummarizer.Models.StatementDetails

@{
    ViewData["Title"] = "Finance list";
}

<h2>My Finance List</h2>

@using (Html.BeginForm("Index", "Finance", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" />
    <input type="submit" value="OK" />
}

<ul>
    <li>@ViewData["Account"]</li> 
    <li>@ViewData["AvailableBalance"]</li>
    <li>@ViewData["Branch"]</li>
    <li>@ViewData["LedgerBalance"]</li>
</ul>
